[Desktop Entry]
Encoding=UTF-8
Name=Cannacoin
Comment=Cannacoin P2P Cryptocurrency
Comment[fr]=Cannacoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Cannacoin, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/cannacoin-qt %u
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/bitcoin128.png
MimeType=x-scheme-handler/bitcoin;
Categories=Office;
